.headerContainer {
  height: 5rem;
  width: 100vw;
  border-bottom: 1px solid var(--gray-800);

  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContent {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 1120px;
  height: 100%;

  padding: 0 0.5rem;
  margin: 0 auto;

  nav {
    margin-left: 5.1775rem;
    height: 100%;

    a {
      display: inline-block;
      position: relative;
      padding: 0 1rem;

      // Line heigt com o mesmo valor do height para centralizar verticalmente
      height: 5rem;
      line-height: 5rem;

      color: var(--gray-300);

      transition: color 0.2s;

      &:hover {
        color: var(--white);
      }

      & + a {
        margin-left: 2rem;
      }

      &.active {
        color: var(--white);
        font-weight: 700;

        &::after {
          content: "";
          position: absolute;
          bottom: 1px;
          left: 0;
          width: 100%;
          height: 3px;
          border-radius: 10px 10px 0px 0px;
          background: var(--yellow-500);
        }
      }
    }
  }

  button {
    margin-left: auto;
  }
}
